.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#Quick_checkout{
  width: 600px;
  height: 378.4px;
  /* border: 1px solid gray; */
  border-radius: 20px;
}
.box{
  width: 600px;
  border: 1px solid gray;
  border-radius: 6px;
  display: flex;
  
}
.box >div>p,.box >div>h3{
  line-height: 20%;
}
.box >div:nth-child(1){
  display: flex;
  margin-top: 9px;

}
p{
  color: gray;
  font-size: 10px;
  font-family: sans-serif;
  
}
h3{
  font-size: 14px;
  
}
#Main>div{
  width: 1200px;
  height: 43px;
  /* border: 1px solid gray; */
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  
}
#Main>div>div:nth-child(1){
  width: 100px;
  height: 100%;
  background-color: black;
  color:white;
  display:flex;
  align-items:center;

}
#Main>div>div:nth-child(2){
  background-color: rgb(49, 48, 48);
  color: white;
  font-weight: 400px;
  width: 100%;
  padding-top:10px ;
}
.form{
  height: 300px;
  display: grid;
  grid-template-columns:repeat(3,400px) ;
  gap: 5px;
}

.form>div>input{
  width: 371px;
  height: 40px;
  border: 1px solid rgb(130, 127, 127);
  border-radius: 5px;
  background-color: inherit;
  line-height: 0%;
}
.form~div{
  height: 224px;
 background-color:  rgb(226, 222, 222);
 margin-top: 140px;
 border-radius: 10px;
}
textarea{
  width: 1098px;
  height: 62px;
}
th{
  width:116px;
  height: 35px;
  text-align: start;
  background-color: rgb(218, 209, 209);
}
td{
  width:116px;
  height: 35px;
  border: 1px solid gray;
}
hr{
  border: 1px dotted gray;
  line-height: 0px;
}
.NavLink{
  width: 100px;
  height:40px ;
  border-radius: 5px;
  background-color: #f60;
  font-size: 15px;
  text-align: center;
  padding-top:10px;  
}
.NavLink> *{
  text-decoration: none;
  color: white;
}